* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main
{
	width: 960px;
	margin: 50px auto;
}

.boxes
{
	float: left;
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	border: 1px solid #f7f7f7;
	position: relative;
}

.boxes:last-child
{
	margin-right: 0px;
}

.box-img1
{
	width: 280px;
	height: 200px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: top;
}

.box-img2
{
	width: 280px;
	height: 200px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: top;
}

.box-img3
{
	width: 280px;
	height: 200px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: top;
}

.box-text-content
{
	background-position: bottom;
	margin-top: 10px;
	margin-bottom: 10px;
}

.step
{
	position: absolute;
	background-color: orange;
	top: 0;
	left: 0;
	color: white;
}
